In [1]:
import pandas as pd

In [2]:
population = [35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523]
countries = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States']

In [3]:
g7_dict = {
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}

In [4]:
g7 = pd.Series(population)

In [5]:
g7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [6]:
g7.name = 'G7 population in millions'

In [7]:
g7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

## Indexing

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7]

In [9]:
lst[0]

1

In [10]:
lst[:2]

[1, 2]

In [12]:
lst[-3:]

[5, 6, 7]

In [13]:
lst[4:]

[5, 6, 7]

In [14]:
lst[::2]

[1, 3, 5, 7]

In [15]:
g7

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [16]:
g7[0]

35.467

In [18]:
g7[6]

318.523

In [20]:
g7[1:5]

1     63.951
2     80.940
3     60.665
4    127.061
Name: G7 population in millions, dtype: float64

In [21]:
g7[[4, 2, 0, 3]]

4    127.061
2     80.940
0     35.467
3     60.665
Name: G7 population in millions, dtype: float64

In [22]:
g7[[2, 2, 4, 2, 2]]

2     80.940
2     80.940
4    127.061
2     80.940
2     80.940
Name: G7 population in millions, dtype: float64

In [23]:
g7.index = countries

In [24]:
g7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [25]:
g7['Canada']

35.467

In [26]:
g7['France': 'Japan']

France      63.951
Germany     80.940
Italy       60.665
Japan      127.061
Name: G7 population in millions, dtype: float64

In [27]:
g7[: 'United Kingdom': 2]

Canada      35.467
Germany     80.940
Japan      127.061
Name: G7 population in millions, dtype: float64

In [28]:
g7[['Canada', 'Japan', 'Canada']]

Canada     35.467
Japan     127.061
Canada     35.467
Name: G7 population in millions, dtype: float64

In [29]:
g7[0]

35.467

In [30]:
g7[2]

80.94

In [31]:
g7[1:3]

France     63.951
Germany    80.940
Name: G7 population in millions, dtype: float64

In [32]:
g7.iloc[0]

35.467

In [33]:
g7.iloc[2:5]

Germany     80.940
Italy       60.665
Japan      127.061
Name: G7 population in millions, dtype: float64

# DataFrame

In [34]:
df = pd.DataFrame(g7_dict)

In [35]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [36]:
df.index = countries

In [37]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [38]:
df.size

35

In [39]:
df.shape

(7, 5)

In [40]:
df.shape[0]

7

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes