In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('demo_data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many people of each race are represented?

In [4]:
df.race.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### 2. What is the average age of men?

In [5]:
df[df.sex == 'Male'].age.mean()

39.43354749885268

### 3. What is the percentage of people who have a Bachelor's degree?

In [6]:
round(len(df[df.education == 'Bachelors']) / len(df) *100, 1)

16.4

In [7]:
round(df[df.education == 'Bachelors'].shape[0] / df.shape[0] * 100,1)

16.4

### 4. What percentage of people with advanced education (Bachelors, Masters or Doctorate) make more than 50K?

In [8]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [9]:
h_edu = df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
h_edu

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [10]:
round(len(h_edu[h_edu.salary == '>50K']) / len(h_edu) * 100, 1)

46.5

### 5. What percentage of people without advanced education make more than 50K?

In [11]:
l_edu = df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
l_edu

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
len(l_edu[l_edu.salary == '>50K']) / len(l_edu) * 100

17.3713601914639

### 6. What is the minimum number of hours a person works per week?

In [13]:
df.['hours-per-week'].min()

SyntaxError: invalid syntax (3365760377.py, line 1)

### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
min_workers = df[df['hours-per-week'] == 1]
min_workers

In [ ]:
len(min_workers[min_workers.salary == '>50K']) / len(min_workers) *100

### 8. People from which native country have the highest percentage of those who earn >50K and what is that percentage?

In [ ]:
df['native-country'].unique()

In [ ]:
rich = df[df.salary == '>50K']
rich

In [ ]:
country_table = round(rich['native-country'].value_counts() / df['native-country'].value_counts() *100,1)
country_table

In [ ]:
country_table.sort_values(ascending=False).head(1)

### 9. What is the most popular occupation for those who are originated from India and earn >50K?

In [ ]:
df[(df['native-country'] == 'India') & (df.salary == '>50K')].occupation.value_counts()

### Select dTypes

In [ ]:
df.info()

In [ ]:
df.select_dtypes(include='object').head()

In [ ]:
df.select_dtypes(include='number').head()

In [ ]:
df.select_dtypes(exclude='object').head()

## Replace

In [ ]:
df.replace(0, 1000).head()

In [ ]:
df.replace(['Male', 'Female', 'United-States'], ['M', 'F', 'USA']).head()

# Map

In [ ]:
lst = [1, 2, 3, 4, 5]

In [ ]:
result = map(str, lst)

In [ ]:
list(map(str,lst))

In [ ]:
def num_sorting(x):
    if x % 2 == 0:
        return x + 10
    else:
        return x-10

In [ ]:
list(map(num_sorting, lst))

## Mapping in Pandas

In [ ]:
df.head()

In [ ]:
df.education.map('Has {} degree'.format)

In [ ]:
def age_group(age):
    if 17 <= age <=32:
        return 'Young'
    elif 32 < age <= 45:
        return 'Adult'
    elif 45 < age <= 65:
        return 'Mid-life'
    else:
        return 'Senior'

In [ ]:
df.age.map(age_group).value_counts().plot(kind='pie', autopct='%.1f')

In [ ]:
df.plot?

## Sorting

In [ ]:
df.sort_values(by='age')

In [ ]:
df.sort_values(['age', 'hours-per-week'], ascending=[True, False])

In [ ]:
df.corr(numeric_only=True)

# GroupBy

In [ ]:
groups = df.groupby('education')

In [ ]:
groups.get_group('Bachelors')

In [ ]:
groups.age.mean().sort_values().plot(kind='barh')

## Aggregate

In [ ]:
groups.agg({'age': 'mean'})

In [ ]:
age_df = groups.agg({'age': ['min', 'max']})

In [ ]:
age_df

In [ ]:
age_df['age']['max']

In [ ]:
age_df.columns

In [ ]:
new_groups = df.groupby(['education', 'workclass', 'occupation'])

In [ ]:
new_groups.age.mean().to_frame().head(20)

# Import Data

In [16]:
dfs = pd.read_html('https://www.worldometers.info/gdp/gdp-per-capita/')

In [18]:
len(dfs)

1

In [17]:
df = dfs[0]

In [20]:
df.set_index('#', inplace=True)

In [21]:
df

,Country,GDP (PPP) per capita (2017),GDP (nominal) per capita (2017),"vs. World PPP GDP per capita ($17,100)"
#,,,,
1,Qatar,"$128,647","$61,264",752%
2,Macao,"$115,367","$80,890",675%
3,Luxembourg,"$107,641","$105,280",629%
4,Singapore,"$94,105","$56,746",550%
5,Brunei,"$79,003","$28,572",462%
...,...,...,...,...
186,American Samoa,N.A.,"$11,399",N.A.
187,Northern Mariana Islands,N.A.,"$28,164",N.A.
188,Andorra,N.A.,"$39,128",N.A.
189,Guam,N.A.,"$35,665",N.A.
190,Cuba,N.A.,"$8,541",N.A.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 1 to 190
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Country                                  190 non-null    object
 1   GDP (PPP) per capita (2017)              190 non-null    object
 2   GDP (nominal)  per capita  (2017)        190 non-null    object
 3   vs. World PPP GDP per capita  ($17,100)  190 non-null    object
dtypes: object(4)
memory usage: 7.4+ KB

In [23]:
def clear_data(val):
    return val.strip('$').replace(',', '.')

In [24]:
df['GDP (nominal)  per capita  (2017)'].map(clear_data).astype('float64')

#
1       61.264
2       80.890
3      105.280
4       56.746
5       28.572
        ...
186     11.399
187     28.164
188     39.128
189     35.665
190      8.541
Name: GDP (nominal)  per capita  (2017), Length: 190, dtype: float64

## Excel File to Pandas

In [27]:
df = pd.read_excel('products.xlsx', index_col='product_id')

In [28]:
df

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...
...,...,...,...,...
AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy..."
AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...
AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...
AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...
AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...

In [31]:
list2 = pd.read_excel('products.xlsx', sheet_name='Descriptions', index_col='product_id')

In [32]:
list2

                                                            description
product_id
AVphzgbJLJeJML43fA0o  Audio & Video Accessories,TV Mounts,TV Accesso...
AVpgMuGwLJeJML43KY_c  Stereos,Portable Bluetooth Speakers,TV, Video ...
AVpe9FXeLJeJML43zHrq  Computers,Office,Computer Accessories,Computer...
AVpfVJXu1cnluZ0-iwTT  Portable Bluetooth Speakers,Bluetooth & Wirele...
AVphUeKeilAPnD_x3-Be  Surround Speakers,Electronics Features,Surroun...
...                                                                 ...
AVphFybdLJeJML43Wnza  Auto & Tires,Auto Electronics,Car Speakers and...
AVpe_qIa1cnluZ0-bjrN  Electronics,Computers,Laptops,Shop Laptops by ...
AVphibxI1cnluZ0-DpxG  Electronics,GPS & Navigation,Vehicle GPS,Auto ...
AVpgrtW3ilAPnD_xv67M  Pro Audio,Sound Reinforcement Mixers,TV, Video...
AVpgibRDLJeJML43PTZX  TVs & Electronics,Computers,Home Theater & Aud...

[1245 rows x 1 columns]

In [34]:
df = df.merge(list2, on='product_id')
df

,price,merchant_id,brand,name,description
product_id,,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,"Audio & Video Accessories,TV Mounts,TV Accesso..."
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...,"Stereos,Portable Bluetooth Speakers,TV, Video ..."
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE,"Computers,Office,Computer Accessories,Computer..."
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...,"Portable Bluetooth Speakers,Bluetooth & Wirele..."
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...,"Surround Speakers,Electronics Features,Surroun..."
...,...,...,...,...,...
AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy...","Auto & Tires,Auto Electronics,Car Speakers and..."
AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...,"Electronics,Computers,Laptops,Shop Laptops by ..."
AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...,"Electronics,GPS & Navigation,Vehicle GPS,Auto ..."
AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...,"Pro Audio,Sound Reinforcement Mixers,TV, Video..."
AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,"TVs & Electronics,Computers,Home Theater & Aud..."

In [37]:
merchants = pd.read_excel('product.xlsx', sheet_name='Merchant')

FileNotFoundError: [Errno 2] No such file or directory: 'product.xlsx'